extends _base


block header
    h1=t('step fing title')

block region
    p(class="errors")

    div(class="services")
      .service
        if edfLogo
          figure.service-logo(class=service)
            svg: use(xlink:href=edfLogo)
        .service-name= t('step edf service')
        .service-actions
          button= t('sign in')
      .service
        if orangeLogo
          figure.service-logo(class=service)
            svg: use(xlink:href=orangeLogo)
        .service-name= t('step orange service')
        .service-actions
          button= t('sign in')

block controls
    button(class="next", aria-disabled="true")= t('step fing next')
    p(class="pass")
      a(href="#")= t('step fing pass')
